# Python Cache
__pycache__/
*.py[cod]

# Distribution / packaging
bin/
release/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.cache
.test
test*.*

# Custom Preferences Files
config.*
preferences.*
